<!DOCTYPE html>
<html lang="en">
<title>Index</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/index.css">
<link rel="stylesheet" href="static/index2.css">
<style>
  body,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Poppins", sans-serif
  }

  body {
    font-size: 16px;
  }

  .w3-half img {
    margin-bottom: -6px;
    margin-top: 16px;
    opacity: 0.8;
    cursor: pointer
  }

  .w3-half img:hover {
    opacity: 1
  }
</style>

<body>

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
    id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
      style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
      <h3 class="w3-padding-64"><b>Student<br>Information</b></h3>
    </div>
    <div class="w3-bar-block">
      <a href="insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert</a>
      <a href="update" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Update</a>
      <a href="view1" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">View</a>
      <a href="delete" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Delete</a>
      
    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
    <span>Company Name</span>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->




    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
      <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
      <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption"></p>
      </div>
    </div>



    <!-- Packages / Pricing Tables   -->
    <div class="w3-container" id="packages" style="margin-top:75px">
      <h1 class="w3-jumbo"><b>Interior Design</b></h1>
      <h1 class="w3-xxxlarge w3-text-red"><b>Technologies.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">

    </div>

    <div class="w3-row-padding">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-light-grey w3-center">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">FrontEnd</li>
          <li class="w3-padding-16"> HTML </li>
          <li class="w3-padding-16"> CSS </li>
          <li class="w3-padding-16"> Javascript </li>


        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-light-grey w3-center">
          <li class="w3-red w3-xlarge w3-padding-32">BackEnd</li>
          <li class="w3-padding-16">Python</li>
          <li class="w3-padding-16">Django framework</li>
          <li class="w3-padding-16">mysql</li>


        </ul>
      </div>
    </div>

    <!-- Services -->
    <div class="w3-container" id="services" style="margin-top:75px">
      <h1 class="w3-xxxlarge w3-text-red"><b>About this application.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">

      <p>Some text about our Applications - Here you can store student information, you can update the stored
        information, you can also delete it.
        Along with this you can search the perticular record based on rollnumber, you can also sort.
      </p>
    </div>

    <!-- Photo grid (modal) -->
    <div class="w3-container" style="margin-top:80px" id="showcase">

      <h1 class="w3-xxxlarge w3-text-red"><b>Showcase.</b></h1>
      <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>

    <div class="w3-row-padding">
      <div class="w3-half">
        <figure>
          <img src="/media/in.png" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <figcaption><b> Insert page </b></figcaption>
        </figure>

        <figure>
          <img src="/media/v.png" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <figcaption><b> View page </b></figcaption>
        </figure>

        <figure>
          <img src="/media/d.png" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <figcaption><b> Delete page </b></figcaption>
        </figure>


      </div>

      <div class="w3-half">
        <figure>
          <img src="/media/up.png" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <figcaption><b> Update page </b></figcaption>
        </figure>

        <figure>
          <img src="/media/sas.png" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
          <figcaption><b> Search and Sort Options </b></figcaption>
        </figure>


      </div>
    </div>

    <!-- Contact 
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</p>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>  
  </div>
  </div>
-->
    <!-- End page content -->


    <!-- W3.CSS Container -->


    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
      }

      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }
    </script>

</body>

</html>